@page "/enemygroup/{groupNumber:int}"
@using BlazorApp.Components
@using BlazorApp.Services
@inherits EnemyGroupComponent


<div class="row enemy-selection @(ExpandPanelController.IsExpanded ? "collapsed" : "expanded")">
    @if (EnemyGroup is not null)
    {
        foreach (var enemy in EnemyGroup.Enemies)
        {
            <EnemyView Enemy="enemy" />
        }
    }
</div>
