@using BlazorApp.Components
@using BlazorApp.Services
@inherits EnemyGroupComponent
<div class="row expand-panel-control" @onclick="ExpandPanelController.ExpandPanel">
    <span>@EnemyGroup.Name</span>
</div>
<div class="row enemy-selection @(ExpandPanelController.IsExpanded ? "collapsed" : "expanded")">

    @foreach (var enemy in EnemyGroup.Enemies)
    {
        <EnemyView Enemy="enemy" />
    }
</div>

