@using BlazorApp.Components
@using BlazorApp.Services
@inherits InitiativeTrackComponent

<div class="row">
    @if (Enemies.Count > 0)
    {
        <button class="btn btn-secondary" @onclick="Shuffle">Shuffle</button>
    }
    <div class="drop-areas-container">
        @foreach (var enemy in Enemies)
        {
            <div class="drop-area" ondragover="event.preventDefault();"
                 @ondrop="HandleDrop"
                 @ondragenter="HandleDragEnter"
                 @ondragleave="HandleDragLeave">

                <div class="initiative-card @SetDragStyle(enemy)" draggable="true"
                     ondragover="event.preventDefault();"
                     @ondragstart="@((e) => this.OnBeingDragged(e, enemy))"
                     @ondragenter="@((e) => this.OnDraggedOver(e, enemy))">
                    <h4 class="enemy-name">
                        @enemy.Name
                    </h4>
                </div>
            </div>
        }
    </div>
</div>
