@using BlazorApp.Pages
@using BlazorApp.Components
@using BlazorApp.Services
@page "/arena"
@inherits ArenaCompenent

<div class="container-fluid">
    @if (Loading)
    {
        <h2>Loading.......</h2>
    }
    <div class="row expand-panel-control" @onclick="ExpandPanelController.ExpandPanel"><span>Select Enemies</span></div>
    <div class="row enemy-selection @(ExpandPanelController.IsExpanded ? "collapsed" : "expanded")">

        @foreach (var enemy in Enemies)
        {
            <button class="btn btn-dark"
                    @onclick="@(() => ModalDTO.ToggleModal(enemy))">
                @enemy.Name
            </button>
        }

    </div>
    <InitiativeTrackView Enemies="ArenaEnemies" />

    <div class="row">
        @foreach (var enemy in ArenaEnemies)
        {
            <EnemyView Enemy="enemy" Removable="true" OnClick="(e => AddEnemy(enemy))" />
        }
    </div>
</div>
@if (ModalDTO.Data != null)
{
    <ModalView_ ModalDTO="ModalDTO" />
}
