@using BlazorApp.Pages
@using BlazorApp.Components
@using BlazorApp.Services
@page "/arena"
@inherits ArenaCompenent

<div class="container-fluid">
    @if (Loading)
    {
        <h2>Loading.......</h2>
    }
    <div class="row enemy-selection @(IsExpanded ? "collapsed" : "expanded")">

        @foreach (var enemy in Enemies)
        {
            <button class="btn btn-dark" @onclick="@( () => AddEnemy(enemy))">@enemy.Name</button>
        }

    </div>
    <div class="expand-panel" @onclick="ExpandPanel"><span class="oi oi-collapse-down"></span></div>

    <InitiativeTrackView Enemies="ArenaEnemies" />

    <div class="row">
        @foreach (var enemy in ArenaEnemies)
        {
            <EnemyView Enemy="enemy" Removable="true" OnClick="(e => AddEnemy(enemy))" />
        }
    </div>
</div>