@using BlazorApp.Pages
@using BlazorApp.Components
@using BlazorApp.Services
@page "/arena"
@inherits ArenaCompenent

<div class="container-fluid">
    @if (Loading)
    {
        <h2>Loading.......</h2>
    }
    <div class="row expand-panel-control" @onclick="ExpandPanelController.ExpandPanel"><span>Select Groups</span></div>
    <div class="row enemy-selection @(ExpandPanelController.IsExpanded ? "collapsed" : "expanded")">
        
        @foreach (var group in EnemyService.EnemyGroups.Keys)
        {
        <button class="btn btn-dark"
                @onclick="@(() => ModalDTO.ToggleModal(group))">
            @group
        </button>
        }  

    </div>
    <InitiativeTrackView Enemies="ArenaEnemies" />
    <div class="row">
        @foreach (var group in EnemyService.EnemyGroups)
        {
            @foreach (var enemy in group.Value)
            {
                <EnemyView Enemy="enemy" Removable="true" OnClick="(e => AddEnemy(enemy))" />
            }
        }
    </div>
</div>
<ModalView_ ModalDTO="ModalDTO" />
