@page "/"
@using Models.Enemies
@using BlazorApp.Components
@inherits IndexComponent
<div class="container">
    <div class="row">
        @if (Enemies == null)
        {
            <p>loading... </p>
        }
        else
        {
            @foreach (var enemy in Enemies)
            {
                <EnemyView Enemy="enemy" />
            }
        }
    </div>
</div>
