@page "/"
@using Models.Enemies
@using BlazorApp.Components
@inject HttpClient Http
<div class="container">
    <div class="row">
        @if (Enemies == null)
        {
            <p>loading... </p>
        }
        else
        {
            @foreach (var enemy in Enemies)
            {
                <EnemyView Enemy="enemy" />
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment Enemy { get; set; }

    private List<Enemy> Enemies { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        Enemies = await Http.GetJsonAsync<List<Enemy>>("sample-data/test.json");
    }
}
