@page "/"
@using Models.Enemies
@using BlazorApp.Components
<div class="container">
    @foreach(var enemy in Enemies)
    {
        var e = enemy;

        <EnemyView @bind-Enemy="e" />
    }
</div>

@code {

    [Parameter]
    public RenderFragment Enemy { get; set; }

    [Parameter]
    public List<Enemy> Enemies { get; set; } = new List<Enemy>
    {
        new Enemy("Traitor Guard"), new Enemy("Spindle Drones")
    };
}