@inherits LayoutComponentBase

<div class="sidebar @SideBarCssClass">
    <NavMenu ToggleSideBar="ToggleSideBar" />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    bool collapseSideBar = false;

    string SideBarCssClass => collapseSideBar ? "collapse-sidebar" : null;

    public void ToggleSideBar()
    {
        collapseSideBar = !collapseSideBar;
    }
}
